/* STYLE FOR ALL PAGES */
body {
  font-family: Arial, Helvetica, sans-serif;

  /*background-image: url(https://cdn.wallpapersafari.com/78/80/Ucsr8H.jpg);*/
}

html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

.btn {
  background-color: #4b416e;
  color: white;
}

#Sbtn {
  background-color: #4b416e;
  color: white;
}

#progress{
  background-color: #4b416e;
}

.header{
  background-color: #4b416e;
  color: white;
  font-size: 30px;
}

.header2{
  background-color:  #4b416e;
  color: white;
  font-size: 30px;
}


.card {
  border:rgb(80, 16, 199) 1px solid;
  box-shadow: rgb(93, 33, 212);
}
#card {
    border:  4px solid rgb(156, 206, 240);
}
#image {
 border-radius: 60%;
  /*border: 5px solid rgb(77, 186, 236);*/
  height: 300px;
}
/* Add space for fixed nav */
main {
  margin: 80px 0;
}

.far {
    color: black;
}

.fab {

  color: black;
}
.fas {
  width: 20px;
  color: black;
}
/* styles for all white main boxes */
.block {
 
  padding: 30px;
  margin-bottom: 30px;
}

#block{
  background-color: rgb(231, 227, 240);
}

/* Creat typography style for all h1. */
.block-header {
  /* typography */
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: px;
  font-weight: bold;
  color: #24211e;
}

/* Style for single pages */

/* ABOUT ME PAGE */
.block-header {
  /* Positioning */
  margin-bottom: 25px;
}

#about-image {
  float: left;
  margin: 0 20px 10px 0;
  width: 200px;
}
/* END OF ABOUT ME PAGE */

/* NAV START */
#logo {
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 28px;
  font-weight: bold;
  color: white;
}

/* override bootstrap hover color and border */
.navbar-default .navbar-nav > li > a:hover {
  color: #ec934a;
}

.navbar {
  background: black;
  border: none;
  padding: 10px;
  background-color:#4b416e
}

/* PORTFOLIO PAGE */
.port-image {
  margin: 20px auto;
}

.btn {
  text-align: center;
}
/* CONTACT FORM */
.form-control {
  border-radius: 0;
  min-width: 100%;
  max-width: 100%;
}

.submit-btn {
  /* box-model*/
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;

  /* Typography */
  color: #24211e;
}

.submit-btn:hover {
  opacity: 0.7;
}
/* END OF CONTACT FORM */

/* THIS IS FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(231, 227, 240);

  
}

.text-muted-footer {
  /* Box-model */
  margin-top: 15px;

  /* Typography */
  color: rgb(15, 75, 90);
}

.two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;
  

  /* Visual */
  background-color: #041414;
}
/* END OF FOOTER */

/* media query for nav background color change */
@media only screen and (max-width: 767px) {
  body {
    background-color: white;
  }
}
