/* STYLE FOR ALL PAGES */
body {
  font-family: Arial, Helvetica, sans-serif;

  /*background-image: url(https://cdn.wallpapersafari.com/78/80/Ucsr8H.jpg);*/
}


.me {
  display: block;
  margin: 2em auto;
  margin-bottom: 3em;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.social {

  text-align: center; 
  font-size: 2.5em;
  color: rgb(179, 173, 231);
  overflow: hidden;
}
   a {
    color: inherit;
    text-decoration: none;
  }
  
  i {
      margin: .2em;
      cursor: pointer;
      transition: color 300ms ease, margin-top 300ms ease;
      transform: translateZ(0);}
      
      i:hover {
        margin-top: -1px;
      }
      
      #twitter:hover {
        color: #77DDF6;
      }
  
      #github:hover {
        color: black;
      }
  
      #linkedin:hover {
        color: #0177B5;
      }
  
      #mail:hover {
        color: #F7B401;
    }

      #facebook:hover {
        color:#0177B5;
      }


.btn0{
    box-shadow: 3px 4px 0px 0px #899599;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color:#ededed;
    border-radius:15px;
    border:1px solid #5c25c4;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
  }
  .btn0:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
  }
  .btn0:active {
    position:relative;
    top:1px;
  }


html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}



#Sbtn {
  background-color: #4b416e;
  color: white;
}

#progress{
  background-color: #4b416e;
}

.header{
  background-color: #4b416e;
  color: white;
  font-size: 30px;
}

.header2{
  background-color:  #4b416e;
  color: white;
  font-size: 30px;
}


.card {
  border:rgb(80, 16, 199) 1px solid;
  box-shadow:  2px 1px 12px 12px rgba(43, 43, 83, 0.2);

}
#card {
    border:  4px solid rgb(156, 206, 240);
    

}
#image {
 border-radius: 90%;
  /*border: 5px solid rgb(77, 186, 236);*/
  height: 230px;
  width: 230px;
}
/* Add space for fixed nav */
main {
  margin: 80px 0;
}

.far {
    color: black;
}

.fab {

  color: black;
}
.fas {
  width: 20px;
  color: black;
}
/* styles for all white main boxes */
.block {
 
  padding: 30px;
  margin-bottom: 30px;
}

#block{
  background-color: rgb(231, 227, 240);
}

/* Creat typography style for all h1. */
.block-header {
  /* typography */
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: px;
  font-weight: bold;
  color: #24211e;
}

/* Style for single pages */

/* ABOUT ME PAGE */
.block-header {
  /* Positioning */
  margin-bottom: 25px;
}

#about-image {
  float: left;
  margin: 0 20px 10px 0;
  width: 200px;
}
/* END OF ABOUT ME PAGE */

/* NAV START */
#logo {
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 28px;
  font-weight: bold;
  color: white;
}

/* override bootstrap hover color and border */
.navbar-default .navbar-nav > li > a:hover {
  color: #ec934a;
}

.navbar {
  background: black;
  border: none;
  padding: 10px;
  background-color:#4b416e
}

/* PORTFOLIO PAGE */
.port-image {
  margin: 20px auto;
}

.btn {
  text-align: center;
}
/* CONTACT FORM */
.form-control {
  border-radius: 0;
  min-width: 100%;
  max-width: 100%;
}

.submit-btn {
  /* box-model*/
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;

  /* Typography */
  color: #24211e;
}

.submit-btn:hover {
  opacity: 0.7;
}
/* END OF CONTACT FORM */

/* THIS IS FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(231, 227, 240);

  
}

.text-muted-footer {
  /* Box-model */
  margin-top: 15px;

  /* Typography */
  color: rgb(15, 75, 90);
}

.two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;
  

  /* Visual */
  background-color: #041414;
}
/* END OF FOOTER */

/* media query for nav background color change */
@media only screen and (max-width: 767px) {
  body {
    background-color: white;
  }
}
